.vscode/*
*.code-workspace
*.o
*.exe
main
*csv
generated_output.txt
/docs
.log
*html
*svg


!example.csv
*.out
# Local History for Visual Studio Code
.history/
UnitTests/CMakeFiles/*
UnitTests/cmake_install.cmake
UnitTests/CMakeCache.txt
UnitTests/runTests
!UnitTests/testdata.csv